.seccion-10-container {
    width: 100vw;
    height: 62.5vw;
    background-color: #fff;
    padding-left: 7.813vw;
    padding-right: 7.813vw;
    padding-top: 7.917vw;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    width: 84.375vw;
    height: 54.688vw;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.15);
}

.background-video-10 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.background-image-10 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ===== RESPONSIVE 900PX - SECCION 10 ===== */
@media only screen and (max-width: 900px) {
    .seccion-10-container {
        width: 100vw;
        height: 112.037vw;
        padding-left: 2.778vw;
        padding-right: 2.778vw;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Video Container Mobile */
    .video-container {
        width: 94.444vw;
        height: 112.037vw;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.15);
    }

    /* Background Video Mobile */
    .background-video-10 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* Background Image Mobile */
    .background-image-10 {
        width: 94.444vw;
        height: 112.037vw;
        object-fit: cover;
        display: block;
    }
}