.seccion-11-container {
    width: 100vw;
    height: auto;
    min-height: 32.656vw;
    background-color: #fff;
    padding-left: 7.813vw;
    padding-right: 7.813vw;
    padding-top: 0vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Tarjeta de alianza morada */
.alliance-card {
    width: 84.375vw;
    height: 32.656vw;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #8476c3;
    position: relative;
    overflow: visible;
}

.alliance-content {
    display: flex;
    padding-top: 6.094vw;
    padding-left: 4.74vw;
    gap: 5vw;
    width: 100%;
    height: 100%;
    padding-right: 0vw;
}

/* Columna izquierda */
.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.alliance-title {
    object-fit: contain;
    font-family: 'Urbanist', sans-serif;
    font-size: 2.865vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 0;
}

.title-separator {
    width: 9.74vw;
    height: 0.625vw;
    margin-top: 0vw;
    margin-bottom: 1.5vw;
    display: block;
    margin-left: -1vw;
}

.alliance-description {
    object-fit: contain;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.823vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 0;
}

/* Columna derecha */
.right-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 0vw;
    margin-right: -0.45vw;
    margin-top: 0.4vw;
}

.image-wrapper {
    position: relative;
    width: 38.281vw;
    height: 26.563vw;
}

.alliance-image {
    width: 38.281vw;
    height: 26.563vw;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-right: 0vw;
    animation: floatUpDownAlliance 3.5s ease-in-out infinite;
}

/* Animación de movimiento vertical para la imagen de alianza */
@keyframes floatUpDownAlliance {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.5vw);
    }
}

.corner-icon {
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 1.875vw;
    left: -3vw;
    z-index: 2;
}