.seccion-10-container {
    width: 100vw;
    height: 62.5vw;
    background-color: #fff;
    padding-left: 7.813vw;
    padding-right: 7.813vw;
    padding-top: 7.917vw;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    width: 84.375vw;
    height: 54.688vw;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.15);
}

.background-video-10 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.background-image-10 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}