@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: 'Urbanist', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}